# Build artifacts
target/
build/
.mvn/
*.jar
*.war
*.ear

# IDE-specific files
.idea/
.settings/
.classpath
.project
*.iml
*.ipr
*.iws
.vscode/

# Log files
*.log
*.out

# Configuration files
application.properties
application.yml

# Other files
*.class
*.swp
*.bak
Thumbs.db
*.DS_Store