<!DOCTYPE html>
<html lang="en" th:replace="~{ base:: parent(~{::#content}, ~{::title}, ~{::script})}">

<head>
    <title>Your all contacts</title>
</head>

<body>
    <div id="content">

        <div data-th-replace="~{user/sidebar :: sidebar}"></div>

        <div class="pt-20 sm:pl-72 sm:pr-10">
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                <!-- If no contacts exist -->
                <div th:if="${message}" class="alert alert-warning" role="alert">
                    <p th:text="${message}" class="text-center p-3"></p>
                </div>
                <!-- contacts exist -->
                <div th:unless="${message}"
                    class="flex items-center justify-between flex-column md:flex-row flex-wrap space-y-4 md:space-y-0 py-4 bg-white dark:bg-gray-900">
                    <div class="flex justify-between items-center w-full">
                        <form data-th-object="${contactSearchForm}" data-th-action="@{'/user/contacts/search'}">
                            <div class="flex space-x-3 p-5 items-center justify-start flex-column flex-wrap md:flex-row space-y-4 md:space-y-0 pb-4">
                                <!-- select box   -->
                                <div>
                                    <select th:field="*{searchField}"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                        <option value=""> Search By</option>
                                        <option selected value="name">Name</option>
                                        <option value="phone">Phone</option>
                                        <option value="email">Email</option>
                                    </select>
                                </div>
                                <label for="table-search" class="sr-only">Search</label>
                                <div class="relative">
                                    <div
                                        class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                                stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                                        </svg>
                                    </div>
                                    <input th:field="*{value}" type="text"
                                        class="block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        placeholder="Search for users" />
                                </div>
                                <button type="submit"
                                    class="px-4 py-2 bg-blue-600 hover:bg-blue-700 text-white font-medium text-sm rounded shadow-sm transition-all">
                                    Search
                                </button>
                            </div>
                        </form>
                        <div>
                            <button onclick="exportData()"
                                class="px-4 py-2 mx-5 bg-green-600 hover:bg-green-700 text-white font-medium text-sm rounded shadow-sm transition-all">
                                    Export
                            </button>
                        </div>
                    </div>
                    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                            <tr>
                                <th scope="col" class="px-6 py-3">
                                    Name
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Phone
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Social Links
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="contact : ${contactsPages}"
                                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                <th scope="row"
                                    class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
                                    <img class="w-10 h-10 rounded-full" th:src="${contact.picture}"
                                        onerror="this.src='https://static-00.iconduck.com/assets.00/profile-default-icon-1024x1023-4u5mrj2v.png'">
                                    <div class="ps-3">
                                        <div th:text="${contact.name}" class="text-base font-semibold"></div>
                                        <div th:text="${contact.email}" class="font-normal text-gray-500"></div>
                                    </div>

                                    <i th:if="${contact.favorite}"
                                        class="fa-solid fa-star transition-all pl-1 md:8 lg:pl-16 duration-200">
                                    </i>
                                </th>
                                <td th:text="${contact.phoneNumber}" class="pr-6 py-4">
                                </td>
                                <td class="px-6 py-4">
                                    <div class="flex items-center">
                                        <a th:href="${contact.facebookLink}">
                                            <i class="fa-brands fa-facebook pl-2"></i>
                                        </a>
                                        <a th:href="${contact.linkedinLink}">
                                            <i class="fa-brands fa-linkedin pl-8"></i>
                                        </a>
                                    </div>
                                </td>
                                <td class="px-6 py-4 space-x-3">
                                    <!-- <button 
                                        th:contactId="${contact.id}"
                                        th:onclick="loadContactData(this.getAttribute('contactId'))" th:href="${contact.linkedinLink}"
                                        >
                                        <i class="fa-solid fa-eye"></i>
                                    </button> -->
                                    <!-- contact view -->
                                    <button th:onclick="loadContactData([[${contact.id}]])">
                                        <i class="fa-solid fa-eye"></i>
                                    </button>
                                    <!-- contact update -->
                                    <a th:href="@{'/user/contacts/view/'+${contact.id}}">
                                        <i class="fa-solid fa-pen"></i>
                                    </a>
                                    <!-- contact delete -->
                                    <button th:onclick="openDeleteAlertModal([[${contact.id}]])">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- Pagination componenet -->
                    <div th:unless="${contactsPages.totalPages == 1}"
                        class="p-5 flex justify-center bg-white dark:bg-gray-900">
                        <nav aria-label="Page navigation example">
                            <ul class="flex items-center -space-x-px h-10 text-base">
                                <!-- Previous Page Link -->
                                <li th:unless="${contactsPages.first}">
                                    <a th:href="@{'/user/contacts?page='+${contactsPages.number - 1}+'&size='+${pageSize}}"
                                        class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                        <span class="sr-only">Previous</span>
                                        <svg class="w-3 h-3 rtl:rotate-180" aria-hidden="true"
                                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                                stroke-width="2" d="M5 1 1 5l4 4" />
                                        </svg>
                                    </a>
                                </li>
                                <!-- Page Number Links -->
                                <li th:each="index : ${#numbers.sequence(0, contactsPages.totalPages - 1)}">
                                    <a th:href="@{'/user/contacts?page='+${index}+'&size='+${pageSize}}"
                                        class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                                        th:classappend="${index == contactsPages.number ? 'bg-blue-100 dark:bg-gray-100' : 'bg-white dark:bg-gray-800'}"
                                        th:text="${index + 1}">
                                    </a>
                                </li>
                                <!-- Next Page Link -->
                                <li th:unless="${contactsPages.last}">
                                    <a th:href="@{'/user/contacts?page='+${contactsPages.number + 1}+'&size='+${pageSize}}"
                                        class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                        <span class="sr-only">Next</span>
                                        <svg class="w-3 h-3 rtl:rotate-180" aria-hidden="true"
                                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                                stroke-width="2" d="m1 9 4-4-4-4" />
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div th:replace="~{user/contactView_modal :: contact_modal}"></div>
            <div th:replace="~{user/delete_alert :: delete_alert}"></div>
        </div>

        <!-- Hidden table only for export contacts -->
        <table  id="contact-table" hidden>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th>About Contact</th>
                    <th>Picture</th>
                    <th>Facebook</th>
                    <th>LinkedIn</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="contact : ${contactsPages}">
                    <td th:text="${contact.name}"></td>
                    <td th:text="${contact.email}"></td>
                    <td th:text="${contact.phoneNumber}"></td>
                    <td th:text="${contact.address}"></td>
                    <td th:text="${contact.description}"></td>
                    <td th:text="${contact.picture}"></td>
                    <td th:text="${contact.facebookLink}"></td>
                    <td th:text="${contact.linkedinLink}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="https://cdn.jsdelivr.net/gh/linways/table-to-excel@v1.0.4/dist/tableToExcel.js"></script>
    <script data-th-src="@{'/js/contacts.js'}"></script>
</body>

</html>